<li class="contact" <%= contact %>>
    <span><strong><%= contact.attr('name') %></strong></span>
    <span><%= contact.attr('email') %></span>
    <span><%= contact.attr('clicks') %></span>
    <button>+</button>
</li>